@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button,
input {
  outline: none;
}

.btn-primary {
  @apply py-2 px-4 text-gray-900 rounded bg-primary-500 transition duration-300 flex items-center gap-1 justify-center min-h-[32px];

  &:hover {
    @apply bg-primary-400;
  }
}

.btn-secondary {
  @apply py-2 px-4 text-gray-100 rounded bg-gray-700 transition duration-300 flex items-center gap-1 justify-center min-h-[32px];

  &:hover {
    @apply bg-gray-600;
  }
}

.google-button {
  @apply w-full py-1 px-3 rounded shadow cursor-pointer transition text-center text-white flex items-center justify-center gap-2 bg-gray-700;
  transition: 0.4s ease;

  &:hover {
    -webkit-box-shadow: 0px 8px 70px -9px #4285f4;
    -moz-box-shadow: 0px 8px 70px -9px #4285f4;
    box-shadow: 0px 8px 70px -9px #4285f4;
  }
}

.error {
  @apply text-red-500;
}

.input-text {
  @apply rounded w-full p-2 bg-gray-700 text-gray-200 border-2 border-gray-600 transition duration-100;

  &:focus {
    @apply border-primary-700;
  }

  &::placeholder {
    @apply text-gray-500;
  }
}

.app-gradient {
  @apply bg-gradient-to-r from-primary-400 to-primary-500;
}

.task-display-animation {
  animation: task-display 1s ease;
}

@keyframes task-display {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-box-shadow: 0px 0px 100px -1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 100px -1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 100px -1px rgba(255, 255, 255, 1);
  }
  99% {
    opacity: 1;
    transform: translateY(0);
    -webkit-box-shadow: 0px 0px 100px -1px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 100px -1px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 100px -1px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
