@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button,
input {
  outline: none;
}

.btn {
  @apply app-gradient p-2 w-full rounded text-gray-900 shadow transition hover:scale-105;
}

.google-button {
  background: #4285f4;
  @apply w-full p-2 rounded shadow cursor-pointer hover:scale-105 transition text-center text-white;
}

.error {
  @apply text-red-500;
}

.input-text {
  @apply bg-white rounded w-full p-2 dark:bg-gray-700 dark:text-gray-200 border-2 border-primary-300 dark:border-gray-500;
}

.app-gradient {
  @apply bg-gradient-to-r from-primary-400 to-primary-500;
}
