@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button,
input {
  outline: none;
}

.btn {
  @apply app-gradient p-2 w-full rounded text-white shadow transition hover:scale-105;
}

.error {
  @apply text-red-500;
}

.input-text {
  @apply bg-gray-100 rounded w-full p-2 dark:bg-gray-700 dark:text-gray-200;
}

.app-gradient {
  @apply bg-gradient-to-r from-red-500 to-orange-500;
}
